# Aplication:
AUTH_API_PORT=3000
ADMINISTRATIVE_API_PORT=3001
EVENT_API_PORT=3002

# PostgreSQL
POSTGRES_USER=sa
POSTGRES_PASSWORD=password
POSTGRES_DB=dbTickets
POSTGRES_PORT=5443

# Prisma
DATABASE_URL="postgresql://sa:password@localhost:5443/dbTickets?schema=public"

# Cryptograph:
HASH_SALT=8
